.contacto{
  background-color: #eaf2fd;
  padding: 3rem;
}

.contacto__container{
  display: flex;
}
.contacto__contenido{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: 1rem;
}

.contacto__contenido-titulo{
  font-family: 'raleway';
  color: #464646;
  font-size: 2rem;
  font-weight: bold;
}

.contacto__descripcion{
  font-family: 'raleway';
  color: #464646;
  font-size: 1rem;
}


.input__contacto:hover::placeholder{
  color: #2A7AE4;
}

.input__contacto:hover{
  border-bottom: #2A7AE4 2px solid;
}

.input__contacto-error {
  display: none;
}

.input__contacto-invalid .input__contacto-error {
  color: #df2525;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
.input__contacto-invalid .input-label {
  color: #df2525;
}

.input__contacto-invalid .input__contacto{
  background-color: #ffffff;
  border: 1px solid #df2525;
  border-radius: 7px;

}

.input__contacto{
  background-color: #ffffff;
  padding: 0.675rem ;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: none;
  outline: none;
  width: 95%;
}

.enviar{
  width: 33%;
  padding: .75rem 1rem;
  border: none;
  background-color: #2A7AE4;
  color: #ffffff;
  margin-top: 1rem;
}
@media screen and (max-width: 1024px){
  .contacto__imagen{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .contacto__container{
    align-items: flex-start;
  }
  .input__contacto{
    width: 100%;
    height: 100%;
    padding: .4rem;
  }
  .contacto__contenido{
    width: 100%;
  }
  .enviar{
    width: 75%;
  }
}

@media screen and (max-width: 360px){
  
  .contacto__container{
    align-items: flex-start;
  }

  .contacto__contenido{
    width: 100%;
  }
  .input__contacto{
    width: 100%;
    height: 100%;
    padding: .4rem;
  }

  .enviar{
    width: 100%;
  }
}