.sobreMi{
  background-color: #eaf2fd;
  padding: 3rem;
}
.sobreMi__container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sobreMi__titulo{
  font-family: 'raleway';
  font-weight: bold;
  font-size: 2rem;
  color: #464646;
}

.sobreMi__parrafo{
  font-family: 'raleway';
  font-size: 1.10rem;
  color: #464646;
}

.sobreMi__firma{
  align-self: flex-start;
}


@media screen and (max-width: 360px){
  .sobreMi{
    padding: 1rem;
  }
  .sobreMi__titulo{
    font-size: 1.25rem;
  }
  .sobreMi__parrafo{
    font-size: 0.975rem;
  }
}